.card {
  display: block;
  margin: 0 auto;
  font-family: "Abel", sans-serif;
}
.card-body {
  background: radial-gradient(
    circle at 7.4% 45.1%,
    rgb(236, 206, 251) 0%,
    rgb(205, 237, 246) 45.1%,
    rgb(227, 251, 252) 78.4%,
    rgb(230, 247, 235) 90%
  );
}
.location {
  font-size: 75px;
}
.country {
  font-size: 30px;
}
.dateTime {
  font-size: 18px;
  text-align: right;
}
ul {
  list-style: none;
}
.forecast {
  font-size: 25px;
  position: relative;
  top: 60px;
}
h4 {
  font-size: 40px;
}
.sun {
  font-size: 70px;
  position: relative;
  left: 30px;
}
.current {
  position: relative;
  top: -255px;
}

.currentDegree,
#unitCal,
#unitFahr,
.space,
.extra {
  font-size: 45px;
  font-weight: bold;
  position: relative;
  left: 90px;
}
#unitCal,
#unitFahr {
  text-decoration: none;
  color: black;
}
#unitCal:hover,
#unitFahr:hover {
  color: rgb(230, 247, 235);
}
.details {
  text-align: center;
  position: relative;
  top: -75px;
  left: 75px;
}
.citySearch {
  position: relative;
  top: -280px;
}
.credit {
  text-align: center;
}
