.card {
  display: block;
  margin: 0 auto;
  font-family: "Abel", sans-serif;
}
h1 {
  font-size: 70px;
}
.dateTime {
  font-size: 18px;
  text-align: right;
}
ul {
  list-style: none;
}
.forecast {
  font-size: 30px;
  position: relative;
  top: 60px;
}
h4 {
  font-size: 40px;
}
.sun {
  font-size: 70px;
  position: relative;
  left: 30px;
}
.current {
  position: relative;
  top: -255px;
}

.currentDegree,
#unitCal,
#unitFahr,
.space,
.extra {
  font-size: 45px;
  font-weight: bold;
  position: relative;
  left: 90px;
}

.details {
  text-align: center;
  position: relative;
  top: -75px;
  left: 75px;
}
.citySearch {
  position: relative;
  top: -300px;
}
.credit {
  text-align: center;
  font-size: 20px;
}
